<?xml version="1.0" encoding="UTF-8"?> 
<web-app version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">     
    <servlet>         
        <servlet-name>PrviServlet</servlet-name>         
        <servlet-class>PrviServlet</servlet-class>     
    </servlet>     
    <servlet>         
        <servlet-name>DrugiServlet</servlet-name>         
        <servlet-class>DrugiServlet</servlet-class>     
    </servlet>     
    <servlet>         
        <servlet-name>TreciServlet</servlet-name>         
        <servlet-class>TreciServlet</servlet-class>     
    </servlet>
    <servlet>
        <servlet-name>uplata</servlet-name>         
        <servlet-class>uplata</servlet-class>     
    </servlet> 
     <servlet>
        <servlet-name>isplata</servlet-name>         
        <servlet-class>isplata</servlet-class>     
    </servlet>    
    <servlet-mapping>         
        <servlet-name>PrviServlet</servlet-name>         
        <url-pattern>/prviServlet</url-pattern>     
    </servlet-mapping>     
    <servlet-mapping>         
        <servlet-name>DrugiServlet</servlet-name>         
        <url-pattern>/drugiServlet</url-pattern>     
    </servlet-mapping>     
    <servlet-mapping>         
        <servlet-name>TreciServlet</servlet-name>         
        <url-pattern>/treciServlet</url-pattern>     
    </servlet-mapping>
    <servlet-mapping>         
        <servlet-name>uplata</servlet-name>         
        <url-pattern>/uplata</url-pattern>     
    </servlet-mapping> 
    <servlet-mapping>         
        <servlet-name>isplata</servlet-name>         
        <url-pattern>/isplata</url-pattern>     
    </servlet-mapping>     
    <session-config>         
        <session-timeout>  
            3000        
        </session-timeout>     
    </session-config>     
    <welcome-file-list>         
        <welcome-file>index.html</welcome-file>     
    </welcome-file-list> 
</web-app> 